@font-face {
  font-family: "Nata";
  src: url("../assets/fonts/NataSans-Regular.ttf");
  src:
    url("../assets/fonts/NataSans-Regular.ttf?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/NataSans-Regular.ttf.woff") format("woff"),
    url("../assets/fonts/NataSans-Regular.ttf") format("truetype"),
    url("../assets/fonts/NataSans-Regular.ttf.svg#Nata") format("svg");
  font-style: normal;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nata;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

input {
  outline: none;
  background-color: transparent;
}
